doctype html
html(ng-app='app')
  head
    title ngExpress : angular-express-seed
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body(ng-controller='AppCtrl')
    block content
    script(src='lib/angular/angular.min.js')
    script(src='lib/angular/angular-route.min.js')
    script(src='js/app.js')
    script(src='js/controllers/app.js')
    script(src='js/controllers/index.js')