<div class="pad-view container-fluid">
	<table class="table table-striped table-responsive table-condensed">
				<tr>
					<th>Name</th>
					<th>Accept<br>User</th>
					<th>Accept<br>Admin</th>
					<th>Decline</th>
				</tr>
				<tr ng-repeat="user in tempUsers">
					<td>
						<p>{{user.name}}</p>
					</td>
					<td>
						<button type="button" class="btn-icon glyphicon glyphicon-ok text-success" ng-click="acceptUser(user._id)"></button>
					</td>
					<td>
						<button type="button" class="btn-icon glyphicon glyphicon-ok text-success" ng-click="acceptAdmin(user._id)"></button>
					</td>
					<td>
						<button type="button" class="btn-icon glyphicon glyphicon-remove text-primary" ng-click="declineUser(user._id)"></button>
					</td>
				</tr>
			</table>
</div>