<div class="container">
  <h1 class="blog-title"><small>cbn</small>Blog</h1>
  <p class="center-text" ng-show="user">
    <button type="button" ng-click="createPost()" class="btn btn-primary new-post-btn">New Post</button>
  </p>
  <br ng-hide="user">
  <ul class="post-list container-fluid">
    <li ng-repeat="post in posts">
      <div class="well col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <p class="pull-right"><i class="glyphicon glyphicon-calendar text-primary"></i> {{post.lastUpdate|date}}</p>
        <h2 class="post-title">{{post.title}}</h2>
        <p class="center-text"><i class="glyphicon glyphicon-user text-primary"></i> {{post.author}}</p>
        <hr>
        <p>{{post.body}}</p>
        <hr>
        <div class="container-fluid">
          <h3 class="center-text"><span class="badge">{{post.comments.length}}</span> Comment<span ng-if="post.comments.length > 1">s</span></h3>
          <ul>
            <li ng-repeat="comment in post.comments">
              <div>
                <p class="pull-right"><i class="glyphicon glyphicon-calendar text-primary"></i> {{comment.createdOn|date}}</p>
                <p><i class="glyphicon glyphicon-user text-primary"></i> {{comment.author}}</p>
                <p>{{comment.body}}</p>

              </div>
              <hr>
            </li>
          </ul>
          <button type="button" ng-click="createComment(post._id)" class="btn btn-default pull-right" ng-show="user">New Comment</a>
        </div>
      </div>
    </li>
  </ul>

</div>
