
<div class="view">
	<div class="banner">
		<img class="img-responsive" src="images/cbnLg.jpg" alt="banner" width="" height="" />
	</div>
	<div class="content-wrap">
		<section class="about container-fluid">
			<p class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">Each year thousands of college bowlers across the nation play numerous games, compete in tournaments, and are ranked based on their game statistics just like these athletes in all other sports. However, bowling is one of the lesser known sports of the more popular ones. There is a lack of information available about the sport as a whole, the teams who participate, and all of the statistics that go into ranking the individual players. College Bowling Nation's goal is to change that by providing statistics and information that is easily accessible and up-to-date.</p>
		</section>
		<section class="container news-container">
			<h1 class="news-title">News</h1>
			<ul class="news-list">
				<li ng-repeat="item in news|limitTo:3">
					<article class="well">
						<h2 class="center-text">{{item.title |limitTo:40}}</h2>
						<p class="center-text"><i class="glyphicon glyphicon-calendar text-primary"></i> {{item.lastUpdate|date}}<br><small><i class="glyphicon glyphicon-user text-primary"></i> <em>{{item.author}}</em></small></p>
						<hr>
						<p>{{item.body}}</p>
					</article>
				</li>
			</ul>
		</section>
	</div>
</div>