<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NaviCtrl">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
				<span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" ui-sref="main">CBN</a>
		</div>
		<div class="collapse navbar-collapse" collapse="isCollapsed">
			<ul class="nav navbar-nav">
				<li ng-repeat="link in pageLinks" ui-sref-active="active">
					<a ui-sref="{{link.state}}">{{link.title}}</a>
				</li>
				<li>
					<a ng-click="openContactModal()" class="pointer">Contact</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<!-- no user -->
				<li ng-show="!user">
					<a ng-click="openSignUpModal()" class="pointer">Sign Up</a>
				</li>
				<li ng-show="!user">
					<a ng-click="openLoginModal()" class="pointer">Login</a>
				</li>
				<!-- user -->
				<li ng-show="user" class="dropdown">
					<a href="#" class="dropdown-toggle" class="pointer">
						<span class="glyphicon glyphicon-user"></span> {{user.name}}
					</a>
					<ul class="dropdown-menu">
						<li ng-show="user.role == 'admin'">
							<a ui-sref="admin">Admin</a>
						</li>
						<li ng-repeat="link in userLinks">
							<a ui-sref="{{link.state}}">{{link.title}}</a>
						</li>
						<li>
							<a href="#" ng-click="logout()" class="pointer">Logout</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>