<!doctype html>
<html data-ng-app="app" id="ng-app" manifest="app.appcache" lang="en">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta name="fragment" content="!">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>College Bowling Nation</title>
        <meta name="author" content="College Bowling Nation">
        <meta name="description" content="A colligiate bowling site.">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!--<link rel="shortcut icon" sizes="196x196" href="icon-196x196.png">-->
        <!-- non-retina iPhone pre iOS 7 -->
        <link rel="apple-touch-icon" href="icon57.png" sizes="57x57">
        <!-- non-retina iPad pre iOS 7
        <link rel="apple-touch-icon" href="icon72.png" sizes="72x72">-->
        <!-- non-retina iPad iOS 7
        <link rel="apple-touch-icon" href="icon76.png" sizes="76x76">-->
        <!-- retina iPhone pre iOS 7
        <link rel="apple-touch-icon" href="icon114.png" sizes="114x114">-->
        <!-- retina iPhone iOS 7
        <link rel="apple-touch-icon" href="icon120.png" sizes="120x120">-->
        <!-- retina iPad pre iOS 7
        <link rel="apple-touch-icon" href="icon144.png" sizes="144x144">-->
        <!-- retina iPad iOS 7
        <link rel="apple-touch-icon" href="icon152.png" sizes="152x152">-->
        <!--<link rel="icon" type="image/png" href="http://example.com/myicon.png">-->
        <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrapTheme.min.css" />
        <link rel="stylesheet" href="libs/angular-ui-ng-grid/ng-grid.min.css" />
        <link rel="stylesheet" href="libs/animate/animate.min.css" />
        <link rel="stylesheet" href="libs/angular-dialog-service/dialogs.min.css" />
        <link rel="stylesheet" href="css/app.css" />
        <!--]if lte IE 8]>
            <script src="libs/ui-utils/modules/ie-shiv/ie-shiv.js"></script>
        <![endif]-->
        <!--[if lt IE 9]>
            <script src="libs/html5shiv/src/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="NavigationCtrl">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-ng-click="isCollapsed = !isCollapsed">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">CBN</a>
                </div>
                <div class="collapse navbar-collapse" data-collapse="isCollapsed">
                    <ul class="nav navbar-nav">
                        <li data-ng-class="{active: isActive('/')}"><a href="#/">Home</a></li>
                        <li data-ng-class="{active: isActive('/rankings')}"><a href="#/rankings">Rankings</a></li>
                        <li data-ng-class="{active: isActive('/prospects')}"><a href="#/prospects">Prospective Bowlers</a></li>
        				<li data-ng-class="{active: isActive('/blog')}"><a href="#/blog">Blog</a></li>
        				<li><a href="" ng-click="openContactModal()">Contact Us</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle">
                                <i class="glyphicon glyphicon-cog"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ng-show="user" href="#/newgame">New Game</a>
                                </li>
                                <li>
                                    <a ng-show="user" href="#/account">Account</a>
                                </li>
                                <li>
                                    <a ng-show="admin" href="#/admin">Admin</a>
                                </li>
                                <li>
                                    <a ng-show="!user" href="" data-ng-click="openLoginModal()">Login &#47; Register</a>
                                    <a ng-show="user" href="#" data-ng-click="logout()">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
             </div>
        </nav>
	    <section data-ng-view="" class="view animate-view"></section>

        <script src="socket.io/socket.io.js"></script>
        <script src="libs/jquery.js"></script>
        <script src="libs/d3/d3.min.js"></script>
        <script src="libs/angular/angular.min.js"></script>
        <script src="libs/angular/angular-route.min.js"></script>
        <script src="libs/angular/angular-animate.min.js"></script>
        <script src="libs/angular/angular-sanitize.min.js"></script>
        <script src="libs/ui-bootstrap/ui-bootstrap-tpls-0.9.0.min.js"></script>
        <script src="libs/angular-ui-ng-grid/ng-grid-2.0.7.min.js"></script>
        <script src="libs/angular-dialog-service/dialogs.min.js"></script>
        <script src="js/cbn.min.js"></script>
    </body>
</html>
