<div class="modal-header">
    <button class="btn btn-defualt pull-right" type="button" ng-click="close()">&times;</button>
    <h2>Create A Bowler</h2>
</div>
<div class="modal-body">
    <div class="container-fluid">
    	<form name="bowlerForm">
            <div class="form-group">
            <label for="bowlerName" class="col-sm-2 control-label">Bowler's Name</label>
            <div class="col-sm-10">
                <input class="form-control" name="bowlerName" type="text" placeholder="Bowler's Name" ng-model="bowler.name">
            </div>
        </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="createBowler(bowler.name)">Create Bowler</button>
</div>