<div class="modal-header">
	<button class="btn btn-defualt pull-right" type="button" ng-click="close()">&times;</button>
	<h2 ng-show="loginMode">Login</h2>
	<h2 ng-hide="loginMode">Forgot your password?</h2>
</div>
<div class="modal-body">
	<!-- Login Form -->
	<form name="loginForm" class="form-horizontal" ng-show="loginMode" novalidate>
		<div class="form-group">
			<label for="useremail" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input type="email" name="useremail" class="form-control" ng-model="user.email" placeholder="Email" data-ng-minlength=3 required/>
				<div class="error" ng-show="loginForm.useremail.$dirty && loginForm.useremail.$invalid">
					<small class="error" ng-show="loginForm.useremail.$error.useremail">
						That is not a valid useremail.
					</small>

					<small class="error" ng-show="loginForm.useremail.$error.required">
						Your useremail is required.
					</small>

					<small class="error" ng-show="loginForm.useremail.$error.minlength">
						Your username must be at least 3 characters.
					</small>

				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="userpassword" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input type="password" name="userpassword" class="form-control" ng-model="user.password" placeholder="Password" data-ng-minlength=3 required />
				<div class="error" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
					<small class="error" ng-show="loginForm.password.$error.required">
						Your email is required.
					</small>

					<small class="error" ng-show="loginForm.password.$error.minlength">
						Your email must be at least 3 characters.
					</small>
				</div>
			</div>
		</div>
	</form>
	<!-- Forgot Form -->
	<form name="forgotForm" class="form-horizontal" ng-hide="loginMode" novalidate>
		<p class="text-center">Enter your email and we will send you a reset link.</p>
		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">Email</label>
			<div class="col-sm-10">
				<input type="email" name="email" class="form-control" ng-model="forgot" placeholder="Email" />
			</div>
		</div>
	</form>

	<p ng-show="errors.other && loginMode" class="pull-right errors">{{errors.other}}</p>
	<p ng-show="errors.reset && !loginMode" class="pull-right errors">{{errors.reset}}</p>
</div>
<div class="modal-footer">
	
	<button class="btn btn-primary" type="button" ng-show="loginMode" ng-click="login(user)">Login</button>
	<button class="btn btn-link pull-left" style="color: #b81e0d;" type="button" ng-show="loginMode" ng-click="loginMode = !loginMode">Forgot password?</button>
	<button class="btn btn-primary" type="button" ng-hide="loginMode" ng-click="reset(forgot)">Reset Password</button>
</div>