<div class="modal-header">
    <button class="btn btn-defualt pull-right" type="button" ng-click="close()">&times;</button>
    <h3>{{team.name}}</h3>
</div>
<div class="modal-body">
    <div class="container-fluid">
    	<div tabset justified="true">
    		<div tab ng-repeat="tab in tabs" heading="{{tab.title}}">
    			<div ng-include="tab.template"></div>
    		</div>
    	</div>
    </div>
</div>
<div class="modal-footer">
        <button class="btn btn-default" ng-click="back()" ng-show="selectedPlayer">Back</button>
        <button class="btn btn-primary" ng-click="close()" type="button">Done</button>
</div>