<div class="pad container-fluid">
    <form name="passwordForm" class="form-horizontal">
        <div class="form-group">
            <label for="oldpassword" class="col-sm-2 control-label">Old Password</label>
            <div class="col-sm-10">
                <input class="form-control" name="oldpassword" type="password" placeholder="Old Password" ng-model="ctrl.password.oldPassword" required>
            </div>
        </div>
        <div class="form-group">
            <label for="newpassword" class="col-sm-2 control-label">New Password</label>
            <div class="col-sm-10">
                <input class="form-control" name="newpassword" type="password" placeholder="New Password" ng-model="ctrl.password.newPassword" required>
            </div>
        </div>
        <div class="form-group">
            <label for="confirm" class="col-sm-2 control-label">Confirm Password</label>
            <div class="col-sm-10">
                <input class="form-control" name="confirm" type="password" placeholder="Confirm Password" ng-model="ctrl.password.confirm" required>
            </div>
        </div>
        <button class="btn btn-primary pull-right" ng-click="ctrl.changePassword(ctrl.password)" ng-disabled="passwordForm.$invalid || ctrl.password.newPassword != ctrl.password.confirm">Change Password</button>
    </form>
</div>
