<span ng-controller="NotificationCtrl as ctrl" class="notification-container">
    <ul growl-notifications class="growl-notifications"></ul>
    
<!--
    <li growl-notification class="fading growl-notification alert alert-{{notification.type}}" ng-repeat="notification in ctrl.notifications">
        {{notification.message}}
    </li>
-->
    <div ng-repeat="notification in ctrl.notifications track by $id($index)">
        <div growl-notification class="alert alert-{{notification.type}} fading growl-notification">
            {{notification.message}}
        </div>
    </div>
</span>
