<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<button class="btn btn-primary pull-right" ng-click="openNewPostModal()">New Post</button>
			<h1>Blog</h1>
		</div>
		<div class="panel-body">
			<ul class="blog-list">
				<li ng-repeat="post in posts">
					<div class="well">
						<p class="pull-right">{{post.createdOn|date}}</p>
						<h3>{{post.author}}</h3>
						<h2>{{post.title}}</h2>
						<div class="well">
							{{post.body}}
						</div>
						<div replies="post.replies" id="post._id"></div>
					</div>
				</li>
			</ul>
		</div>
</div>