<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<button class="btn btn-default pull-right" type="button" data-ng-click="newSeason()">New Season</button>
			<h2>Choose A Bowler</h2>
		</div>
		<div class="panel-body">
			<div class="container">
				<div class="well form-group col-xs-12 col-sm-5">
					<select class="form-control" multiple ng-model="selectedBowlers" ng-change="selectionsChanged()" ng-options="b._id as b.name for b in bowlers">
					</select>
					<p>{{selectionMessage}}</p>
					<a href="#/startgame" class="btn btn-primary">Start Game</a>
					<a href="#/startbaker" class="btn btn-primary">Start Baker Game</a>
				</div>
				<div class="well col-xs-12 col-sm-5 col-sm-offset-1">
					<p>Your Lineup</p>
					<ul ng-show="roster">
						<li data-ng-repeat="bowler in roster">
							<p>{{bowler.name}}</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="well">
		<form name="newBowlerForm" ng-submit="createBowler()" novalidate>
			<div class="form-group">
				<input
					class="form-control"
					ng-model="newBowler.name"
					placeholder="New Bowler's Name"
					ng-minlength=2
					ng-required="true"
					required="true"
				/>
			</div>
			<button class="btn btn-primary" data-ng-disabled="!(newBowlerForm.$dirty && newBowlerForm.$valid)" type="submit">Create Bowler</button>
		</form>
	</div>
</div>
