<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<p>Score: {{score}}</p>
			<p>Shots: {{shots}}</p>
		</div>
		<div class="panel-body">
			<ul class="score-card">
				<li>
					<div class="frame-container">
						<table class="frame-table">
							<tr>
								<td>
									<div>
										<input class="short" name="shot-1" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
								<td>
									<div>
										<input class="short shot-2" name="shot-2" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<input class="mid" name="frame-score" type="text" placeholder="0" maxLength="1" readonly />
								</td>
							</tr>
						</table>
					</div>
				</li>
				<li>
					<div class="frame-container">
						<table class="frame-table">
							<tr>
								<td>
									<div>
										<input class="short" name="shot-1" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
								<td>
									<div>
										<input class="short shot-2" name="shot-2" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<input class="mid" name="frame-score" type="text" placeholder="0" maxLength="1" readonly />
								</td>
							</tr>
						</table>
					</div>
				</li>
				<li>
					<div class="frame-container">
						<table class="frame-table">
							<tr>
								<td>
									<div>
										<input class="short" name="shot-1" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
								<td>
									<div>
										<input class="short shot-2" name="shot-2" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<input class="mid" name="frame-score" type="text" placeholder="0" maxLength="1" readonly />
								</td>
							</tr>
						</table>
					</div>
				</li>
				<li>
					<div class="frame-container">
						<table class="frame-table">
							<tr>
								<td>
									<div>
										<input class="short" name="shot-1" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
								<td>
									<div>
										<input class="short shot-2" name="shot-2" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<input class="mid" name="frame-score" type="text" placeholder="0" maxLength="1" readonly />
								</td>
							</tr>
						</table>
					</div>
				</li>
				<li>
					<div class="frame-container">
						<table class="frame-table">
							<tr>
								<td>
									<div>
										<input class="short" name="shot-1" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
								<td>
									<div>
										<input class="short shot-2" name="shot-2" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<input class="mid" name="frame-score" type="text" placeholder="0" maxLength="1" readonly />
								</td>
							</tr>
						</table>
					</div>
				</li>
				<li>
					<div class="frame-container">
						<table class="frame-table">
							<tr>
								<td>
									<div>
										<input class="short" name="shot-1" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
								<td>
									<div>
										<input class="short shot-2" name="shot-2" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<input class="mid" name="frame-score" type="text" placeholder="0" maxLength="1" readonly />
								</td>
							</tr>
						</table>
					</div>
				</li>
				<li>
					<div class="frame-container">
						<table class="frame-table">
							<tr>
								<td>
									<div>
										<input class="short" name="shot-1" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
								<td>
									<div>
										<input class="short shot-2" name="shot-2" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<input class="mid" name="frame-score" type="text" placeholder="0" maxLength="1" readonly />
								</td>
							</tr>
						</table>
					</div>
				</li>
				<li>
					<div class="frame-container">
						<table class="frame-table">
							<tr>
								<td>
									<div>
										<input class="short" name="shot-1" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
								<td>
									<div>
										<input class="short shot-2" name="shot-2" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<input class="mid" name="frame-score" type="text" placeholder="0" maxLength="1" readonly />
								</td>
							</tr>
						</table>
					</div>
				</li>
				<li>
					<div class="frame-container">
						<table class="frame-table">
							<tr>
								<td>
									<div>
										<input class="short" name="shot-1" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
								<td>
									<div>
										<input class="short shot-2" name="shot-2" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<input class="mid" name="frame-score" type="text" placeholder="0" maxLength="1" readonly />
								</td>
							</tr>
						</table>
					</div>
				</li>
				<li>
					<div class="frame-container-last">
						<table class="frame-table">
							<tr>
								<td>
									<div>
										<input class="short" name="shot-1" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
								<td>
									<div>
										<input class="short shot-2-last" name="shot-2" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" />
									</div>
								</td>
								<td>
									<div>
										<input class="short shot-3" name="shot-2" type="text" placeholder="0" maxLength="1" ng-blur="addShots()" readonly />
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<input class="mid-last" name="frame-score" type="text" placeholder="0" maxLength="1" readonly />
								</td>
							</tr>
						</table>
					</div>
				</li>
			</ul>
		</div>
		<div class="panel-footer score-card-footer">
			<button class="btn btn-primary pull-right" type="button" ng-click="submitGame()">Submit Game</button>
		</div>		
	</div>
</div>

</div>