<div class="container">
	<h2>New Game</h2>
	<div class="container-fluid">
	<div class="well">
	<div class="table-responsive">
		<table class="table">
			<tr>
				<td>
					<p>1</p>
				</td>
				<td>
					<p>2</p>
				</td>
				<td>
					<p>3</p>
				</td>
				<td>
					<p>4</p>
				</td>
				<td>
					<p>5</p>
				</td>
				<td>
					<p>6</p>
				</td>
				<td>
					<p>7</p>
				</td>
				<td>
					<p>8</p>
				</td>
				<td>
					<p>9</p>
				</td>
				<td>
					<p>10</p>
				</td>
			</tr>
			<tr>
				<td>
					<input 
						class="short"
						type="text"  
						maxlength="2"
						ng-model="frame1"
					/>
				</td>
				<td>
					<input 
						class="short"
						type="text"  
						maxlength="2"
						ng-model="frame2"
					/>
				</td>
				<td>
					<input 
						class="short"
						type="text"  
						maxlength="2"
						ng-model="frame3"
					/>
				</td>
				<td>
					<input 
						class="short"
						type="text"  
						maxlength="2"
						ng-model="frame4"
					/>
				</td>
				<td>
					<input 
						class="short"
						type="text"  
						maxlength="2"
						ng-model="frame5"
					/>
				</td>
				<td>
					<input 
						class="short"
						type="text"  
						maxlength="2"
						ng-model="frame6"
					/>
				</td>
				<td>
					<input 
						class="short"
						type="text"  
						maxlength="2"
						ng-model="frame7"
					/>
				</td>
				<td>
					<input 
						class="short"
						type="text"  
						maxlength="2"
						ng-model="frame8"
					/>
				</td>
				<td>
					<input 
						class="short"
						type="text"  
						maxlength="2"
						ng-model="frame9"
					/>
				</td>
				<td>
					<input 
						class="short"
						type="text"  
						maxlength="3"
						ng-model="frame10"
					/>
				</td>
			</tr>
		</table>
		</div>
	</div>
	<button type="buton" class="btn btn-primary pull-right">Save</button>
	</div>
</div>