<!--10 Pin Game-->
<div class="container" ng-show="game == 'tenpin'">
	<multiselect class="input-lg" multiple="true" ms-selected ="There are {{selectedBowlers.length}} bowlers(s) selected"
        ng-model="selectedBowler" ms-header="Select Your Lineup"
        options="bowler.index as bowler.name for bowler in bowlers"
    >
    </multiselect>
	<div class="form-group col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
		<select class="form-control" ng-model="selectedBowler" ng-options="bowler.index as bowler.name for bowler in bowlers">
			<option value="">Choose A Player</option>
		</select>
	</div>
	<div class="score-cards">
		<div data-ng-repeat="bowler in bowlers">
			<div score-card data-id="{{bowler.id}}" data-ng-show="$index == selectedBowler"></div>
		</div>
	</div>
</div>
<!--Baker Game-->
<div class="container" ng-show="game == 'baker'">
	<multiselect class="input-lg" multiple="true" ms-selected ="There are {{selectedBowlers.length}} bowlers(s) selected"
		ng-model="selectedBowler" ms-header="Select Your Lineup"
		options="bowler.index as bowler.name for bowler in bowlers"
	>
	</multiselect>
	<div class="form-group col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
		<select class="form-control" ng-model="selectedBowler" ng-options="bowler.index as bowler.name for bowler in bowlers">
			<option value="">Choose A Player</option>
		</select>
	</div>
	<div class="score-cards">
		<div score-card-baker data-id="{{bowlers[selectedBowler].id}}" number-of-bowlers="{{numberOfBowlers}}"></div>
	</div>
</div>
